@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    color: blueviolet;
    font-family: 'Raleway', sans-serif;;
}
/* HEADER */

#headerContainer {
    display: flex;
    justify-content: center;
}

#title {
    text-align: center;
    color: white;
}

header {
    height: 15vh;
    background-color: blueviolet;
    border-radius: 2.5px;
    width: 60vw;
}

#headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#logo {
    height: 10vh;
}


/* Create Post */
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#createPostBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 2.5% 0% 2.5% 0%;
    padding: 5% 10% 5% 10%;
    background-color: rgba(194, 194, 194, 0.5);
    border-radius: 5px;
    /* border: 1px solid yellow; */
}

#createPostContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid black; */
    width: max-content;
    background-color: white;
    border-radius: 5px;
}

#submitTitle {
    text-align: center;
}

#body {
    background-image: url('./imgs/pngegggray.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: rgb(228, 34, 34);
    font-weight: 900;
    font-size: .85em;
    margin: 5%;
    height: 15vh;
}

label, input {
    margin: 5%;
}


/* Footer */
#footerContainer {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    border-radius: 2.5px;
}
.nav {
    display: flex;
    justify-content: center;
    margin: 1%;
    width: 60vw;
    /* background-color: #333; */
    overflow: hidden;
    /* border: 1px solid red; */
}

.nav > a {
    color: white;
    text-decoration: none;
    transition: 0.6s;
    align-self: center;
}

#about {
    margin-right: 10%;
}

#developer {
    margin-left: 10%;
}

.nav a:hover {
    border-bottom: 3px solid  #333;
}