<<<<<<< HEAD
html {
    overflow-y: scroll; 
}

#postContainer {
    display: flex;
    justify-content: center;
    flex-flow: nowrap;
=======
#postContainer {
    display: flex;
    justify-content: center;
    align-items: center;

>>>>>>> 1b5c23c2e847852c1568c2a795232494b08360ce
}

#posts {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 75vh;
    width: 50vw;
<<<<<<< HEAD
=======
    margin: 0 auto;
>>>>>>> 1b5c23c2e847852c1568c2a795232494b08360ce
    overflow-y: auto;
    overflow-x: hidden;
}

.post {
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 2.5%;
    padding: 1%;
<<<<<<< HEAD
    width: 50%;
    list-style: none;
}
=======
    width: 95%;
    list-style: none;
}

#author {
    float: left;
}

.postBody {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.imgDiv {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-color: rgba(194, 194, 194, 0.5);
}

.postImg {
    margin: 0 auto;
    width: 60%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2.5%;
    border: 5px solid black;
    border-radius: 5px;
}

.buttonDiv {
    align-self: flex-start;
    margin-left: 2.5%;
}

.voteCountDiv {
    align-self: flex-start;
    margin-left: 2.5%;
}


.body{
    height: 30%;
    width: 95%;
    margin: 0 auto;
    margin-top: 5%;
    border: 1px solid black;
}



.commentsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
>>>>>>> 1b5c23c2e847852c1568c2a795232494b08360ce
